

/*#storedscrpt{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto;
	padding:2em;

}

#storedscrpt h2{
	font-family: 'Hind';
	font-size: 200%;
	font-weight: normal;
	color: #AFB42B;

}*/



#columns{
	width: 100%;
	margin: 0 auto;
	background-color: #eeeeee;
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count:1;	
	-webkit-column-gap:0;
	-moz-column-gap:0;
	column-gap: 0;
	column-width: 330px;

}

div#columns li{
	display: inline-block;
	margin: 0;
	list-style: none;
	transition: opacity .5s ease-in-out;
	position: relative;
}

.imagecap{
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	outline: 1px solid #ffffff;
	outline-offset: -10px;
	z-index: 5;
	background-color: transparent;
}

.imagecap button{
	display: none;
	width: 30%;
	height: 3em;
	margin: 0 auto;
	padding: 0.5em 1em;
	margin-top: 80%;
	background-color: #000000;
	color: #dddddd;
	border:none;
	border-radius: 0.5em;
	cursor: pointer;
}

.imagecap:hover button{
	display: block;
}

div#columns li img{
	width: 100%;
	height: auto;
	margin: 0;
	vertical-align: middle;
}

div#columns:hover li:not(:hover){
	opacity: 0.4;
}

div.showdetails{
	box-sizing: border-box;
	display: block;
	width: 100vw;
	height: 100vh;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	overflow: auto;
	z-index: 20;
}

div.showdetails .detaildscrpt{
	display: block;
	width: 80%;
	max-width: 1000px;
	background-color: #ffffff;
	margin: auto;
	padding: 2em;
}

div.showdetails img{
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: auto;	
}

div.showdetails .detaildscrpt h4{
	font-family: 'Cardo';
	font-size: 2em;
	margin: 1.5em 0 0.5em 0;
}

div.showdetails .detaildscrpt p{
	font-family: 'Hind';
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

div.showdetails .detaildscrpt p span{
	color: #795548;
}

div.showdetails .detaildscrpt button{
	width: 33%;
	height: 3em;
	box-sizing: border-box;
	padding: 0.5em 1em;
	background-color: #AFB42B;
	color: #dddddd;
	border:none;
	border-radius: 0.5em;
	cursor: pointer;
}

div.showdetails .detaildscrpt button.closeBtn{
	background-color: #757575;
}

div.showdetails .detaildscrpt button.chartBtn{
	background-color: #212121;
}

div.showdetails .detaildscrpt button.addtochart:hover{
	background-color: #CDDC39;
}

div.showdetails .detaildscrpt button.closeBtn:hover{
	background-color: #BDBDBD;
}

div.showdetails .detaildscrpt button.chartBtn:hover{
	background-color: #795548;
}

/*span.close{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1em;
	font-family:'Hint';
	font-size: 200%;
}*/

@media screen and (min-width: 800px) {
	#columns{
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count:3;
	}
}

