/*font-family: 'Montserrat';*/
/*font-family: 'Hind';*/

body, header, h1, p, nav, div, ul{
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
}

body{
	position: relative;
}

/*Header Style*/

header{
	background-color: #CDDC39;
	color: #ffffff;
	padding: 7em 0 0 0;
}

header h1{
	text-align: center;
	font-family: 'Cardo';
	font-size: 200%;
}

header span{
	color: #F0F4C3;
	padding: 0.1em 0.5em;
	border: 1px solid #ffffff;
}

header p{
	margin-top: 2em;
	margin-bottom: 5em;
	text-align: center;
	font-size: 110%;
	font-family: 'Hind';
}

/*Main Navigation Bar*/

header .main-nav ul{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

header .main-nav ul li{
	display: inline-block;
	text-decoration: none;
	float: left;
}

header .main-nav a{
	display: block;
	padding: 0.2em 1em;
	text-decoration: none;
	background-color: #AFB42B;
	color: #F0F4C3;
	font-family: 'Hind';
	font-size: 120%;
	text-align: center;
	border-right: 1px solid #CDDC39;
}

header .main-nav a:hover{
	background-color: #795548;
}

/*Greeting*/

div.content-full{
	width: 80%;
	max-width: 1200px;
	margin: 10em auto;
}

.content-full p{
	font-family: 'Hind';
	color: #212121;
}

.content-full .hi{
	font-size: 300%;
}

.content-full .greeting{
	font-size: 120%;
}

.content-full i{
	color: #CDDC39;
}

.content-full .fa-quote-right{
	float: right;
}

.welcomeCat{
	width: 100%;
	height: 400px;
	position: fixed;
	bottom: 0;
	background: url('graphics/cat_origin.svg') no-repeat;
	background-size: 400px 400px;
	background-position: center;
}

.welcomeCat:hover{
	background: url('graphics/cat_smiling.svg') no-repeat;
	background-size: 400px 400px;
	background-position: center;
}