@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	    transform: rotate(360deg);
    }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



body, header, h1, p, nav, div, ul{
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
}

body{
	position: relative;
}


header div.logobar{
	box-sizing: border-box;
	background-color: #CDDC39;
	color: #ffffff;
	overflow: hidden;
	min-height: 70px;
	position: relative;
}

header h1{
	display: none;
	box-sizing: border-box;
	width: 100%;
	padding: 0.2em;
	text-align: center;
	font-family: 'Cardo';
	font-size: 200%;
	line-height: 200%;
}

header span{
	color: #F0F4C3;
	padding: 0.1em 0.5em;
	border: 1px solid #ffffff;
}

header p{
	display: none;
	margin-bottom: 2em;
	text-align: center;
	font-size: 100%;
	font-family: 'Hind';
}

button#baricon{
	display: inline-block;
	height: 50px;
	background-color: transparent;
	border:none;
	color: #ffffff;
	font-size: 150%;
	line-height: 50px;
	margin-right: 10%;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -25px;
}

header img#logo{
	display: block;
	margin-left: 10%;
	height: 50px;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	
}

/*Main Navigation Bar*/

header nav.main-nav{
	display: none;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
}

header .main-nav ul{
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header .main-nav ul li{
	list-style: none;
}

header .main-nav a{
	display: inline-block;
	float: left;
	box-sizing: border-box;
	width: 33.33%;
	padding: 0.2em 0.8em;
	text-decoration: none;
	background-color: #AFB42B;
	color: #ffffff; /*#F0F4C3*/
	font-family: 'Hind';
	font-size: 100%;
	text-align: center;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

header .main-nav li:last-of-type a{
	border-right: none;
}

a.active{
	background-color: #AFB42B;
}

header .main-nav a:hover{
	background-color: #795548;
}

/*Greeting*/

div.content-full{
	width: 80%;
	max-width: 1000px;
	margin: 3em auto;
}

.content-full p{
	font-family: 'Hind';
	color: #212121;
}

.content-full .hi{
	font-size: 200%;
	margin-bottom: 0.5em;
}

.content-full .greeting{
	font-size: 100%;
}

.content-full .greeting span{
	color: #AFB42B;
	font-weight: bold;
	border: 1px solid #AFB42B;
	padding: 0 8px;
}

.content-full i{
	color: #CDDC39;
}

.content-full .fa-quote-right{
	float: right;
}

/*To make sure there is room to scroll up the text when the view height is too small*/
.content-full::after{
	content: "";
	display: block;
	width: 100%;
	height: 200px;
}


#welcomeCat{
	display: block;
	width: 100%;
	height: 200px;
	position: fixed;
	bottom: -200px;
	background: url('graphics/cat_origin.svg') no-repeat;
	background-size: 200px 200px;
	background-position: center;
	cursor: pointer;
}

#popbubble{
	width: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	bottom: 200px;
	left: 50%;
	margin-left:-75px;
	background-color: #111111;
	border-radius: 30px;
	color:#eeeeee;
	font-family: 'Hind';
	font-size: 120%;
	text-align: center;
	z-index: 99;
	display: none;
}

#popbubble::after{
	content: "";
	position: fixed;
	bottom: 180px;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: #111111 transparent transparent transparent;
	z-index: 99;
}

#welcomeCat:hover{
	background: url('graphics/cat_smiling.svg') no-repeat;
	background-size: 200px 200px;
	background-position: center;
}

#catBack{
	display: block;
	width: 600px;
	position: fixed;
	bottom: -200px;
	left: 50%;
	margin-left: -300px;
	z-index: -1;
}

.rotating{
	-webkit-animation: rotating 8s linear infinite;
	-moz-animation: rotating 8s linear infinite;
	-ms-animation: rotating 8s linear infinite;
	-o-animation: rotating 8s linear infinite;
	animation: rotating 8s linear infinite;
	animation-delay: 0.8s;
}

footer{
	width: 100%;
	height: 40px;
	background-color: #000000;
	color: #F0F4C3;
	text-align: center;
	font-family: 'Hind';
	font-size: 80%;
	line-height: 40px;
	position: fixed;
	bottom: 0;
	z-index: 15;
}

@media screen and (min-width: 800px){
	header nav.main-nav, header p, header h1{
		display: block;
	}

	header h1{
		margin-top: 2em;
	}

	a.sitelogo, button#baricon{
		display: none;
	}

	header .main-nav{
		display: block;
		width: 100%;	
		padding: 0;
		background-color: #CDDC39;
		overflow: hidden;
	}

	header .main-nav ul{
		display: block;
		width: 33.33%;
		margin: 0 auto;
	}

	header .main-nav a{
		border-top:none;
		border-bottom: none;
		background-color: transparent;
	}

	header .main-nav a.active{
		background-color: #ffffff;
		color: #CDDC39;
	}

	header .main-nav a:hover{
		background-color: #AFB42B;
	}

}

/*Contact Page*/

div.fullheight{
	box-sizing: border-box;
	width: 100%;
/*	height: 100vh;
	background-color: #f0f4c3;*/
	padding-top: 3em;
}

div.fullheight div.card{
	box-sizing: border-box;
	display: block;
	width: 80%;
	max-width: 400px;
	margin: 0 auto;
	padding: 2em;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family: 'Hind';
}

div.card p.cardtitle{
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	font-size: 150%;
	color: #CDDC39;
}

div.card p.cardcontent{
	font-size: 80%;
}

div.card p.cardcontent i{
	display: inline-block;
	width: 20px;
	text-align: center;
	font-size: 120%;
	margin-right: 1em;
}

div#goodbyecat{
	display: block;
	width: 100%;
	height: 200px;
	position: fixed;
	bottom: 36px;
	background: url('graphics/cat_smiling.svg') no-repeat;
	background-size: 200px 200px;
	background-position: center;
}






