<!DOCTYPE html>
<html>
<head>
	<title>NOTREAL Online Store</title>
	<meta charset="utf-8">
	<meta name="keywords" content="AngularJS store, angularjs online store">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Cardo' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="landingpage.css">
	<link rel="stylesheet" type="text/css" href="column.css">

</head>
<body>
	<header>
		<div class="logobar">
			<a href="index.html" class="sitelogo"><img id="logo" src="graphics/ywlogo.png" alt="Ye's"></a>
			<h1>Ye's <span>NOTREAL</span> Online Store</h1>
			<p>Please don't buy anything here, they are not really for sale :)</p>
			<button id="baricon" onclick='togglemenu()'>&#9776;</button>
		</div>
		<nav id="main-nav">
			<ul>
				<li><a href="index.html">HOME</a></li>
				<li><a href="#" class="active">STORE</a></li>
				<li><a href="contact.html">CONTACT</a></li>
			</ul>
		</nav>
	</header>


<div ng-app="chartApp" ng-controller="chartController" id="store">
	<div id="columns">	
		<ul class="itemlist">
			<li ng-repeat='x in items'>
				<div class="imagecap" ng-click="x.active=!x.active" ng-show='!x.active'></div>
				<img src="{{x.image}}" alt="{{x.title}}">

				<!-- Show item details -->
				<div class="showdetails" ng-show="x.active" ng-click='x.active=!x.active'>
					
					<div class="detaildscrpt" ng-click='$event.stopPropagation()'>
						<img src="{{x.image}}">
						<h4>{{x.title}}</h4>
						<p>{{x.description}}</p>
						<p>Price: <span>{{x.price | currency}}</span></p>
						<button ng-click='calculation(x)' class="addtochart">{{x.status}}</button>
						<button ng-click='x.active=!x.active' class="closeBtn">Back to Store</button>
						<p>Your have <span>{{count}}</span> items in your Chart. <span>{{total | currency}}</span> in total.</p>
						<span class="closeSpan" ng-click='x.active=!x.active'>&times;</span>
					</div>				
				</div>

			</li>
		</ul>	
	</div>

	<!-- Chart Window -->
	<div class="mychart">
		<div id="chartTooltip" ng-show='tooltip' ng-click='tooltip=false'>
			<p id="orgnmsg">Click HERE to view your chart!</p>
			<p id="clsmsg">Got it!</p>
		</div>		
		<div id="itemNum" ng-click='showlist = !showlist'>{{count}} items</div>
		<div id="chartForm" ng-show='showlist'>
			<ul>
				<li ng-repeat='x in items | filter:{select:true}'>
					<p>{{x.title}} <span>{{x.price | currency}}</span><span class="close" ng-click='removeItem(x)'>&times;</span></p>
				</li>
			</ul>
			<div class="totalNum">Total: {{total | currency}}<button ng-click='checkoutwindowshow="true"'>Checkout!</button></div>
		</div>
	</div>

		<!-- Checkout Popup -->
	<div id="popup" ng-show='checkoutwindowshow'>
		<p>Thank you for visiting!</p> 
		<p>This is a demo website for coding practice only. The total price of your <span>{{count}}</span> selected items is <span>{{total | currency}}</span>.</p>
		<span class="closespan" ng-click='checkoutwindowshow=!checkoutwindowshow'>CLOSE &times;</span>
	</div>	

</div>

	<footer>
		Copyright © 2017 Ye Wang. All Rights Reserved.
	</footer>

	<script src="js/chart.js"></script>

</body>
</html>